body{
  font-family: Helvetica, sans-serif;
}

a{
  text-decoration: none;
}

p {
  white-space: pre-line;
}

.topnav{
  display: inline-block;
  width: 100%;
  border-bottom: solid 2px lightgray;
}

.logo{
  width: 100%;
}

.topnav ul{
  list-style-type: none;
  margin: 0;
  padding: 1em;
}

.topnav li a
{
  color: #5c6167;
  font-weight: 500;
  white-space: nowrap;
}

.topnav li a:hover {
  color: #02a9e0;
}

.specials{
  background: #02a9e0;
}

.specials li a{
  color: white;
}

.specials :hover{
  background: #5c6167;
}

.content-wrapper
{
  display:flex;
  padding-top: 1em;
  width: 100%;
  height: auto;
}

.sidebar
{
  margin-right: 2em;
  white-space: nowrap;
}

.sidebar li{
  color:#02a9e0;
  padding-bottom: .5em;
}

.sidebar-header {
  width: 100%;
  margin: auto;
  border-radius: 10px;
  background:#e7e7e7;
  color: #5c6167;
  padding: 1em 2em 1em 1em;
  text-align: center;
  position: relative;
  display: flex;
  text-transform: uppercase;
  font-weight: 600;
}

.sb:after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #e7e7e7;
  border-bottom: 15px solid transparent;
  right: 50px;
  bottom: -20px;
}


.sidebar li{
  color:#02a9e0;
  padding-bottom: .5em;
}

.sidebar li a {
  color: #5c6167;
  font-weight: 500;
}

.sidebar li a:hover {
  color: #02a9e0;
}

.page-content
{
  display: inline;
  border-left: solid thin lightgray;
  border-right: solid thin lightgray;
  border-bottom: solid thin lightgray;
  margin: 0 1em 2em 2em;
  padding: 0 1em 1em 1em;
}

.page-text{
  width: 100%;
  padding-bottom: 2em;
}

.page-text h1{
  text-align: left;
  color: #02a9e0;
  margin: 0;
  padding: 0;
}  
.page-text h2{
  color: #5c6167;
  font-style: italic;  
  font-weight: lighter;
  margin: 0;
  padding: 0 .8em;
}

.img-section{
  display: grid;  
  grid-gap: 2em;  
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(200px, 1fr)); 
  margin: 1em;
}


.img-container {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 20%;
  display: flex;
  border: solid thin #02a9e0;
  width: 100%;
  height: 230px;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.img-container:hover .overlay {
  opacity: .8;
}

.img-Title {
  color: white;
  font-weight: 600;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  text-align: center;
}
.img-Desc {
  color: white;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

@media only screen and (min-width: 1350px){
  .topnav{
    display: flex;
    justify-content: space-between;
    border-bottom: thin gre;
  }
  
  .logo{
    margin: 0.8em;
  }
  
  .topnav ul{
    display: flex;
    padding: 2em 0;
    list-style-type: none;
  }
  
  .navlist ul{
    float: right;
    display: inline-flex;
  }
  
  .topnav li a
  {
    color: #5c6167;
    font-weight: 700;
    padding: 0  4em;
    white-space: nowrap;
  }
  
  .topnav li a:hover {
    color: #02a9e0;
  }

  .specials{
    background: none;
    width: max-content;
  }
  
  .specials li a{
    background: none;
    
  }

  .specials :hover{
    background: none;
  }

  .specials a:hover{
    color: #02a9e0;
  }
}


@media only screen and (max-width: 1350px){
 .sidebar{
    position: absolute; /* Position them relative to the browser window */
    left: -210px; 
    margin-right: 0;
    z-index: 1;
  }

 .sidebar:hover {
   left: 0; /* On mouse-over, make the elements appear as they should */
   background-color: white;
   z-index: 1;
  }

  .sidebar-header {
    width: 100%;
    margin: auto;
    border-radius: 10px;
    background:#c0c0c4;
    color: #5c6167;
    padding: 1em 2em 1em 1em;
    text-align: center;
    position: relative;
    display: flex;
    text-transform: uppercase;
    font-weight: 600;
  }
  
  .sb:after {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #c0c0c4;
    border-bottom: 15px solid transparent;
    right: 50px;
    bottom: -20px;
  }

  .page-content
  {
    position: absolute;
    left: 10;
    border-left: solid thin lightgray;
    border-right: solid thin lightgray;
    border-bottom: solid thin lightgray;
    margin: 0.5em;
  }
}